# Dependencies
node_modules/
src/blockchain/node_modules/
funderr-mobile/node_modules/

# Blockchain artifacts & cache
src/blockchain/artifacts/
src/blockchain/cache/
src/blockchain/coverage/
blockchain/artifacts/
blockchain/cache/
blockchain/coverage/

# Expo & Mobile builds
.expo/
dist/
web-build/
expo-env.d.ts
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*

# Debug & logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment variables & secrets
**/.env
**/.env.*
**/.env.local
**/.env.*.local
!**/.env.example

# OS & Editor files
.DS_Store
Thumbs.db
*.pem
*.tsbuildinfo
